# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [52]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,cleaned_prices
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

### Step 4. How many products cost more than $10.00?

In [72]:
sum(chipo_singles['cleaned_prices']>10)

97

In [134]:
price_sort = lambda price: float(price[1:])

chipo['cleaned_prices'] = chipo.item_price.apply(price_sort)
chipo_singles = chipo.drop_duplicates(['item_name', 'choice_description', 'quantity'])

chipo_singles = chipo_singles[chipo_singles['quantity']==1]
(chipo_singles[chipo_singles['cleaned_prices']>10]).item_name.nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [84]:
chipo_singles

     item_price                              item_name
0        $2.39            Chips and Fresh Tomato Salsa
1        $3.39                                    Izze
2        $3.39                        Nantucket Nectar
3        $2.39   Chips and Tomatillo-Green Chili Salsa
4       $16.98                            Chicken Bowl
...         ...                                    ...
4237     $8.50                     Chips and Guacamole
4354    $18.50                        Steak Soft Tacos
4489    $17.80                     Chips and Guacamole
4509     $1.99                                   Chips
4510    $11.49                           Barbacoa Bowl

[209 rows x 2 columns]

In [94]:
chipo_singles = chipo.drop_duplicates(['item_name', 'quantity'])
chipo_singles = chipo_singles[chipo['quantity']==1]

chipo_singles[['item_name', 'item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
5                              Chicken Bowl    $10.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
16                          Chicken Burrito     $8.49
21                         Barbacoa Burrito     $8.99
27                         Carnitas Burrito     $8.99
28                              Canned Soda     $1.09
33                            Carnitas Bowl     $8.99
34                            Bottled Water     $1.09
38    Chips and Tomatillo Green Chili Salsa     $2.95
39                            Barbacoa Bowl    $11.75
40                                    Chips     $2.15
44                       Chicken Salad Bowl     $8.75
54                               Steak Bowl     $8.99
56                      Barbacoa Soft Tacos     $9.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
92                       Steak Crispy Tacos     $9.25
111     Chips and Tomatillo Red Chili Salsa     $2.95
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
191      Chips and Roasted Chili-Corn Salsa     $2.39
233      Chips and Roasted Chili Corn Salsa     $2.95
237                     Carnitas Soft Tacos     $9.25
250                           Chicken Salad    $10.98
263                       Canned Soft Drink     $1.25
298                       6 Pack Soft Drink     $6.49
300     Chips and Tomatillo-Red Chili Salsa     $2.39
510                                 Burrito     $7.40
520                            Crispy Tacos     $7.40
554                   Carnitas Crispy Tacos     $9.25
606                        Steak Salad Bowl    $11.89
664                             Steak Salad     $8.99
673                                    Bowl     $7.40
674       Chips and Mild Fresh Tomato Salsa     $3.00
738                       Veggie Soft Tacos    $11.25
1132                    Carnitas Salad Bowl    $11.89
1229                    Barbacoa Salad Bowl    $11.89
1414                                  Salad     $7.40
1653                    Veggie Crispy Tacos     $8.49
1694                           Veggie Salad     $8.49
3750                         Carnitas Salad     $8.99

### Step 6. Sort by the name of the item

In [95]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,cleaned_prices
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [98]:
chipo[chipo['cleaned_prices']==max(chipo['cleaned_prices'])]

,order_id,quantity,item_name,choice_description,item_price,cleaned_prices
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [99]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,cleaned_prices
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [102]:
sum(chipo[chipo['item_name']=='Veggie Salad Bowl'].quantity)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [110]:
sum(chipo[chipo['item_name']=='Canned Soda'].quantity >1)

20